body {
    background-color: #202123;
    color:  #ebebeb;
}
.item.completed {
    background-color: aquamarine;
    text-decoration: line-through;
}
.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-form {
    background-color: rgb(94, 98, 101);
}