body {
    background-image: url(https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    background-repeat: no-repeat;
     color:  black;
 
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px 8px;
    width: 50%;
    margin: 5% 25%;
}

.item.completed {
   
    text-decoration: line-through;
    color: black;
   
}
.item {
    background-color: skyblue;
    border-style: outset;
    text-align: center;
    /* border: dotted gray 1px; */
    
}
.todo-list {
    width: 50%;
   text-align: center;
   border-style: inset;
   background-color: pink;
   
   
}
.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.clear-btn {
    background-color: #dfdede;
    margin: 4% 4%;
    padding: 1%;
}